/*NAVBAR*/
.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 120px;
  padding: 5px 5px;
  background-color: #212735;
  .logo-wrapper {
    img {
      width: 150px;
      height: auto;
      border-radius: 50%;
    }
  }
  .menu-wrapper {
    display: flex;
    align-items: center;
    .list-menu {
      display: flex;
      gap: 8px;
      .item-menu {
        cursor: pointer;
        color: #ffff;
        border-bottom: 2px solid transparent;

        &:hover {
          border-bottom: 2px solid #ffff;
        }
      }
    }
  }
  .social-wrapper {
    display: flex;
    align-items: center;
    margin-right: 5%;
    .list-social {
      display: flex;
      gap: 8px;
      .item-social {
        cursor: pointer;
        color: #ffff;
        i {
          font-size: 2rem;
        }
      }
    }
  }
}
