<header>
  <nav class="navbar">
    <div class="logo-wrapper">
      <img src="assets/images/logos/logo_black.png" alt="Epic Games Logo" />
    </div>
    <div class="menu-wrapper">
      <div class="list-menu">
        <div class="item-menu"><a routerLink="/homepage">Home</a></div>
        <div class="item-menu">Chi siamo</div>
        <div class="item-menu">Account</div>
        <div class="item-menu">Gallery</div>
        <div class="item-menu"><a routerLink="/contacts">Contatti</a></div>
      </div>
    </div>
    <div class="social-wrapper">
      <div class="list-social">
        <div class="item-social">
          <i class="fab fa-facebook"></i>
        </div>
        <div class="item-social"><i class="fab fa-instagram"></i></div>
      </div>
    </div>
  </nav>
</header>
