<div class="footer">
  <div class="top">
    <div class="col">
      <h4>Titolo colonna</h4>
      <ul>
        <li><a href="#">Primo link</a></li>
        <li><a href="#">Secondo link</a></li>
        <li><a href="#">Terzo link</a></li>
        <li><a href="#">Quarto link</a></li>
        <li><a href="#">Quinto link</a></li>
      </ul>
    </div>
    <div class="col">
      <h4>Titolo colonna</h4>
      <ul>
        <li><a href="#">Primo link</a></li>
        <li><a href="#">Secondo link</a></li>
        <li><a href="#">Terzo link</a></li>
        <li><a href="#">Quarto link</a></li>
        <li><a href="#">Quinto link</a></li>
      </ul>
    </div>
    <div class="col">
      <h4>Titolo colonna</h4>
      <ul>
        <li><a href="#">Primo link</a></li>
        <li><a href="#">Secondo link</a></li>
        <li><a href="#">Terzo link</a></li>
        <li><a href="#">Quarto link</a></li>
        <li><a href="#">Quinto link</a></li>
      </ul>
    </div>
    <div class="col">
      <h4>Titolo colonna</h4>
      <ul>
        <li><a href="#">Primo link</a></li>
        <li><a href="#">Secondo link</a></li>
        <li><a href="#">Terzo link</a></li>
        <li><a href="#">Quarto link</a></li>
        <li><a href="#">Quinto link</a></li>
      </ul>
    </div>
    <div class="col">
      <div class="img-wrapper">
        <img src="assets/images/footer/appstore.png" />
      </div>
      <div class="img-wrapper">
        <img src="assets/images/footer/googleplay.png" />
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="left">
      <div class="links">
        <div class="link">
          <a href="#">Termini e condizioni</a>
        </div>
        <div class="link">
          <a href="#">Privacy</a>
        </div>
        <div class="link">
          <a href="#">Contatti</a>
        </div>
      </div>
      <div class="address-wrapper">
        <span
          ><i class="fa fa-map-marker" aria-hidden="true"></i> Piazza la bomba e
          scappa, 20094, Cesano Boscone</span
        >
      </div>
      <div class="copyright">2024 - Chronicle Games© - Made with ❤️</div>
    </div>
  </div>
</div>
